<h1>Team List</h1>
<h2><%=link_to "Create a Team!", new_team_url(@team) %></h2>

<ul>
  <% @teams.each do |team| %>
    <li>
      <%= link_to "#{team.city} #{team.name}", team_path(team) %>
    </li>
    <% end %>
</ul>
