.top {
  text-align: center;
  background-color: #00FFFF;
  border-radius: 60%;
  margin-bottom: 50px;

}

h2 {
  display:inline;
  text-align: center;
}

.teamplayer {
  text-align: center;
  margin-bottom: 50px;
}

.pic {
  border-radius: 30px;
}

img {
  border-radius: 50%;
}

body {
  background-color: #eee;
}

* {
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.playershow {
  text-align: center;
}

.view {
  font-size: 15px;
}

.title {
  font-size: 20px;
}

.createplayer{
  margin-bottom: 20px;
}
.form{
  text-align: center;
}

.delete{
  text-align:center;
}
.teamtitle{
  text-align: center;
  display:block;
  border-radius: 100px;
  background-color: #AFEEEE;
  border-style: solid;
}

.input{
  margin-bottom: 50px;
}

.form{
  font-size: 20px;
}

.formtitle{
  margin-top: 50px;
}
